<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>assetlist</title>
</head>
<body>
	<h1>{{ user}}</h1>
	<table border='1'>
		{% for item in data %}
			<tr>
				<td>{{item.id}}</td>
				<td>{{item.hostname}}</td>
				<td>{{item.create_date}}</td>
				<td>{{item.update_date}}</td>
			</tr>
		{% endfor %}
		{% if  user %}
			<h2>亲爱的老婆你好,今天我又犯下了很严重的错误，我竟然忘记了带手机，让老婆为我担心了，我真的非常的懊悔，我的这种行为非常的可恶的，以为他会让我最爱的人为我心情忐忑,
			以为他会让我最爱的人为我心情忐忑,我愿意为老婆做任何的事来补偿我对老婆犯下的严重的错误，并且保证以后不会在犯类似的错误，今天晚上我要请老婆吃饭。爱你 么么哒!!!
			</h2>
		{% else %}
			<h2>假</h2>
		{% endif %}
		
		{% ifequal user 'hantaoxxxx' %}
			<h2>韩涛</h2>
		{%  else %}
			<h2>---------------------------------------------------------------------------------------我亲爱的老婆</h2>
		{% endifequal %}
	</table>
	<img src='/static/1.jpg'/><img src='/static/timg.jpg'/>
</body>
</html>