<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/web/gameplat/" method="POST">
        <h3>GamePlat</h3>
        <select name="basegroup_id">
            <optgroup label='安卓'>
                <option value="android_yyb">安卓应用宝</option>
                <option value="android_360">安卓360</option>
            </optgroup>
            <optgroup label='苹果'>
                <option value="appstore_yyb">苹果应用宝</option>
                <option value="appstore_360">苹果360</option>
            </optgroup>
        </select>
        <p><input type='submit' value="添加"></p>
    </form>
</body>
</html>