<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
        .login {
                width:500px;
                height:300px;
                border:2px solid #ddd;
                margin:0 auto;
        }
        .logout {
                width:500px;
                height:100px;
                border:2px solid #ddd;
                margin:0 auto;
        }
</style>
</head>
<body>
        <form action='/web/login/' method='POST'>
                {% csrf_token %}
                <fieldset>
                        <legend><p1>登入<p1></legend>
                        <div style='width:300px;height:300px;border:100px solid #fff;margin:0 auto;'>
                        <p><input name='username'  placeholder="username"></p>
                        <a><input type='password' name='password' placeholder="password"/></a>
                        <p><input type='submit' value="添加"></p><span style='color:red'>{{status}}</span>
                        </div>
                </fieldset>
        </form>
</body>
</html>
